In [6]:
def sum():
    x=int(input("Enter your number...."))
    y=int(input("Enter your number...."))
    z=x+y
    print(z)

In [12]:
def sum(t):
    print(t*25)

In [13]:
# calling the function
sum(20)

500

In [5]:
15+47

62

In [ ]:
# Q.1. Implement a function called my_func() 
# that simply prints out Hello Python! 
# to the screen and call the function.

In [8]:
def my_func():
    print("Hello Python!")

In [9]:
my_func()

Hello Python!

In [10]:
# Q.2. 
# Implement a function called my_func() 
# that takes a single parameter x and 
# multiplies it with 10, 
# also returning the result when the function is called.

def my_func(x):
    x*=10  #     x=x*10
    return x
    


result = my_func(7)
print(result)

70

In [11]:
# Q.3. Implement a function called my_func() 
# that takes two parameters x and y and 
# divides x by y, also returning the result 
# when the function is called.

def my_func(x,y):
    return x/y


result = my_func(38,19)
print(result)

2.0

In [19]:
# Q.4. Implement a function called my_func() that takes
# a single parameter x and multiplies it with 
# each element of range(5), also adding each
# multiplication result to a new (initially empty) 
# list called my_new_list. Finally, the list should
# be printed out to the screen after the function is called.

def my_func(x):
    my_new_list = [x * i for i in range(1,11)]
    return my_new_list

result = my_func(25)
print(result)

[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [15]:
def my_func(x):
    my_new_list = []
    for i in range(5):
        my_new_list.append(i * x)
    return my_new_list
 
result = my_func(2)
print(result)

[0, 2, 4, 6, 8]

In [20]:
# Q.5. Implement a function called my_func()
# that takes a single parameter x (a list) 
# and eliminates all duplicates from the list,
# also returning the result when the function is called.

def my_func(x):
    return list(set(x))

result = my_func([11, 12, 13, 11, 15, 18, 18, 22, 20, 16, 12])
print(result)

[11, 12, 13, 15, 16, 18, 20, 22]

In [32]:
# Q.6. 
# Implement a function called my_func() 
# that takes a single parameter x (a dictionary) 
# and multiplies the number of elements in the 
# dictionary with the largest key in the dictionary, 
# also returning the result when the function is called.

def my_func(x):
    return len(x)*sorted(x.keys())[-1]

result = my_func({1: 3, 2: 3, 4: 5, 5: 9, 6: 8, 3: 7, 7: 0,9:1})
print(result)

72

In [37]:
t={1: 3, 2: 3, 4: 5, 5: 9,25:8, 6: 8, 3: 7, 7: 0,9:1,15:7}
max(t)

25

In [44]:
# Q.7. Implement a function called my_func() 
# that takes a single positional parameter x 
# and two default parameters y and z which 
# are equal to 100 and 200 respectively, 
# and adds them together, also returning the 
# result when the function is called.

def gst(x=100, roi=25):
#     18% 25% 5% 10%
    return (1+year)**time

result = my_func()
print(result)

600

In [48]:
def gst(amout, roi):
    
    return (1+amout)*roi

amount=float(input("Enter your amount...."))
roi=int(input("Rate of Interest..."))
result = gst(amount,roi)

print(result)

Enter your amount....750
Rate of Interest...2
1502.0

In [54]:
# Q.8. Implement a function called my_func() 
# that takes a positional parameter x and 
# a variable-length tuple of parameters and 
# returns the result of multiplying x with 
# the second element in the tuple, also 
# returning the result when the function is called.

def my_func(x,*args):
    return x*args[3]
# x=7
# args=(10, 20, 30, 50,60,84,15)
# args[3]=50
# 7*50

result = my_func(7, 10, 20,20, 30, 50,60,84,15,20, 30, 50,60,84,15)
print(result)

210

In [57]:
# Q.9. Add the correct line(s) of 
# code inside the function in order 
# to get 200 as a result of calling 
# my_func() and have the result printed out to the screen.

var = 8

def my_func(x):
    return x*var
	
	
my_func(7)

56

In [60]:
# Q.10. Make the necessary adjustment 
# inside the function in order to get 
# 120 as a result of calling my_func() 
# and have the result printed out to the screen.

def my_func(x):
    var = 12
    print(x * var)
	
	
my_func(10)

120

In [73]:
# Q.11. Add the necessary line of code inside 
# the function in order to get 80 
# as a result of calling my_func() 
# and have the result printed out to the screen.

var = 8
print(var)
def my_func(x):
    global var
    print(x * var)
#     global var 
    print(x * var)

var=5
my_func(10)
print(var)

8
50
50
5

In [ ]:
Q.12. Write code that will import only the pi variable 
from the math module and then it will format it 
in order to have only 4 digits after the floating point.
Of course, 
print out the result to the screen using the print() function.

In [75]:
from math import pi
print('%.4f'%pi)

3.1416