#Interview Python Questions.ipynb

##Question 1. Find the Missing Number

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
           15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
           25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
           35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
           45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
           55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
           65, 66, 67, 68, 69, 70, 71, 72, 74, 75,
           76, 77, 78, 79,
           80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
           90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
my_list = [1, 2, 3, 4, 5, 6, 7, 9, 10]

In [12]:
# // is used for Floor division
n=10
total = n * (n + 1) // 2
print(total)

55

In [13]:
my_list

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [14]:
sum(my_list)

47

In [15]:
55-47

8

In [10]:
111//2

55

In [3]:
def missing_nuber(arr, n):
  # Calculate the sum of first n natural numbers
    total = n * (n + 1) // 2

    # Calculate the sum of numbers in the array
    sum_arr = sum(arr)

    # Find the missing number by subtracting sum_arr from total
    missing = total - sum_arr

    return missing

##Question 2: Find a number in List

In [16]:
import numpy as np
my_array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

number=15

In [17]:
def find_number(arr, number):
  for i in range(len(arr)):
    if arr[i]==number:
      print(i)

In [18]:
find_number(my_array, number)

14

#Tuple

##  How to create a Tuple?

In [19]:
newTuple = ('a', 'b', 'c', 'd', 'e')

In [22]:
type(newTuple)

tuple

In [23]:
my_tuple=(1)
type(my_tuple)

int

In [24]:
my_tuple=(1,)
type(my_tuple)

tuple

In [20]:
newTuple1 = tuple('abcde')

In [21]:
newTuple1

('a', 'b', 'c', 'd', 'e')

# Access Tuple elements

In [25]:
print(newTuple[0])

a

#  Traverse through tuple

In [26]:
for i in newTuple:
    print(i)

a
b
c
d
e

In [27]:
for index in range(len(newTuple)):
    print(newTuple[index])

a
b
c
d
e

#  How to search for an element in Tuple?

In [28]:
print('a' in newTuple)

True

In [29]:
def searchInTuple(pTuple, element):
    for i in pTuple:
      if i == element:
        return pTuple.index(i)

    return 'The element does not exist'

In [31]:
print(searchInTuple(newTuple, 'c'))

2

# Tuple Operations / Functions

In [32]:
myTuple = (1,4,3,2,5)
myTuple1 = (1,2,6,9,8,7)

In [33]:
print(myTuple + myTuple1)

(1, 4, 3, 2, 5, 1, 2, 6, 9, 8, 7)

In [34]:
print(myTuple * 4)

(1, 4, 3, 2, 5, 1, 4, 3, 2, 5, 1, 4, 3, 2, 5, 1, 4, 3, 2, 5)

In [39]:
myTuple1 = (1,2,6,9,8,7,4,1,2,1,2,1,1,1)

In [40]:
myTuple1.count(1)

6

In [42]:
myTuple1.index(9)

3

# Tuple Interview Questions



# Q-1. What will be the output of the following code block?

In [44]:
sachin_tuple = ()
print (sachin_tuple.__len__())
# A. None
# B.  1
# C. 0
# D. Exception

3


# Q-2. What will be the output of the following code block?

In [47]:
anuj_tuple_a = 'a', 'b'
jyoti_tuple_b = ('a', 'b')

print (anuj_tuple_a == jyoti_tuple_b)
# A. 0
# B.  1
# C. False
# D. True

True

In [45]:
init_tuple_a = 'a', 'b'
print(type(init_tuple_a))

<class 'tuple'>

# Q-3. What will be the output of the following code block?

In [48]:
init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')

print (init_tuple_a + init_tuple_b)
# A. (1, 2, 3, 4)
# B.  (‘1’, ‘2’, ‘3’, ‘4’)
# C. [‘1’, ‘2’, ‘3’, ‘4’]
# D. None

('1', '2', '3', '4')

# Q-4. What will be the output of the following code block?

In [50]:
init_tuple_a = 1, 2
init_tuple_b = (3, 4)

[print(sum(x)) for x in [init_tuple_a + init_tuple_b]]
# A. Nothing gets printed.
# B.  4
# C. 10
# D. TypeError: unsupported operand type

10

[None]

In [55]:
init_tuple_b = (3, 4)
init_tuple_b[1]=8
print(init_tuple_b[1])
# sum(init_tuple_b)

TypeError: 'tuple' object does not support item assignment

# Q-5. What will be the output of the following code block?

In [52]:
init_tuple = [(0, 1), (1, 2), (2, 3)]
result = sum(n for n, _ in init_tuple)

print(result)
# A. 3
# B. 6
# C. 9
# D. Nothing gets printed.

3

# Q-6. Which of the following statements given below is/are true?

# A. Tuples have structure, lists have an order.
# B. Tuples are homogeneous, lists are heterogeneous.
# C. Tuples are immutable, lists are mutable.
# D. All of them.

# Q-7. What will be the output of the following code block?

In [59]:
l = [1, 2, 3]
init_tuple = ('Python',) * (l.__len__() - l[::-1][0])

print(init_tuple)
# A. ()
# B. (‘Python’)
# C. (‘Python’, ‘Python’)
# D. Runtime Exception.

()

# Q-8. What will be the output of the following code block?

In [60]:
init_tuple = ('Python') * 3

print(type(init_tuple))
# A. <class ‘tuple’>
# B. <class ‘str’>
# C. <class ‘list’>
# D. <class ‘function’>

<class 'str'>

# Q-9. What will be the output of the following code block?

In [61]:
init_tuple = (1,) * 3
init_tuple[0] = 2
print(init_tuple)
# A. (1, 1, 1)
# B. (2, 2, 2)
# C. (2, 1, 1)
# D. TypeError: ‘tuple’ object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# Q-10. What will be the output of the following code block?

In [63]:
init_tuple = ((1, 2),) * 7
print(len(init_tuple[3:8]))
# A. Exception
# B. 5
# C. 4
# D. None

4

In [62]:
init_tuple = ((1, 2),) * 7
init_tuple

((1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2))