## Message

In [4]:
print("Sachin Saxena")

Sachin Saxena

In [7]:
print("Data Science")

Data Science

In [8]:
print("Machine Learning")

Machine Learning

## Variables

In [9]:
a=7
b=9
print(a+b)

16

In [10]:
a=7
b=9
print(a-b)

-2

In [11]:
print(id(a))

140728851022824

In [12]:
print(id(b))

140728851022888

In [13]:
print(a)

7

In [14]:
print(b)

9

## String in Python

In [1]:
print("Data Science and Machine Learning")

Data Science and Machine Learning

In [11]:
print("Data Science and \'ML\' Machine Learning")

Data Science and 'ML' Machine Learning

In [13]:
print(''' IMDb.com, Inc. or its affiliates. 
All rights reserved. Box Office Mojo 
and IMDb are trademarks or 
registered trademarks of IMDb.com,
Inc. or its affiliates. 
Conditions of Use and Privacy Policy 
under which this service is provided to you.''')

 IMDb.com, Inc. or its affiliates.
All rights reserved. Box Office Mojo
and IMDb are trademarks or
registered trademarks of IMDb.com,
Inc. or its affiliates.
Conditions of Use and Privacy Policy
under which this service is provided to you.

In [9]:
# New line Raw mode
print("Data Engineer is the \nrole of Python. \nML is the key \nelement of this course")

Data Engineer is the
role of Python.
ML is the key
element of this course

In [10]:
# Double Quote
print("Data Engineer is the role of Python. \"ML\" is the key element of this course")

Data Engineer is the role of Python. "ML" is the key element of this course

In [13]:
# Tab 
print("Data Engineer is the role of \tPython. \t\t\tML is the key \telement of this course")

Data Engineer is the role of 	Python. 			ML is the key 	element of this course

In [25]:
# Single Quote
print("Data Engineer is the role of Python. \'ML\' is the key element of this course")

Data Engineer is the role of Python. 'ML' is the key element of this course

In [18]:
# Backslash
print("Data Engineer is the role of Python. \\ML is the key element of this course")
print("Data Engineer is \\not the role of Python. \ML is \\the key element of this course")

Data Engineer is the role of Python. \ML is the key element of this course
Data Engineer is \not the role of Python. \ML is \the key element of this course

In [19]:
print('True\\the True')

True\the True

## Concatenation in String

In [4]:
# var='Machine Learning'+' '+'Sachin'
var="Machine Learning"+' '+'Sachin'
print(var)

Machine Learning Sachin

In [39]:
var='Data Scientist '*5
print(var)

Data Scientist Data Scientist Data Scientist Data Scientist Data Scientist

In [40]:
First_name='Ajay Sain'
Second_name='Ajay Sain'

In [41]:
print(id(First_name))

2257148790448

In [48]:
print(id(Second_name))
var=7
print(id(var))

2257148790768
140720300737512

In [43]:
print(Second_name)

Ajay Sain

In [47]:
print(Second_name[5])

S

In [49]:
name='Sachin Kumar Saxena'

In [52]:
print(name[13:22])

Saxena

In [59]:
print(name[:16])

Sachin Kumar Sax

In [61]:
print(name)

Sachin Kumar Saxena

In [60]:
print(name[1:10:2])

ahnKm

## Functions in String

In [5]:
atm_pin=int(input("Enter your 4 digit PIN.... "))

Enter your 4 digit PIN....  4715

In [6]:
Amount=int(input("Enter your amount to withdraw.... "))

Enter your amount to withdraw....  85000

In [7]:
Amount

85000

In [8]:
atm_pin

4715

In [9]:
type(atm_pin)

int

In [31]:
Amount+atm_pin

12815

In [32]:
var="Ruchika Punwatkar"
print(var)

Ruchika Punwatkar

In [33]:
len(var)

17

In [34]:
len("Ruchika Punwatkar")

17

In [36]:
var=int(3.9)
var

3

In [37]:
var3=str(8)
var3

'8'

In [38]:
print(f"There are {20*10*6} numbers ")

There are 1200 numbers

In [39]:
"SACHIN".lower()

'sachin'

In [10]:
'sachin'.upper()

'SACHIN'

In [11]:
"SHALINI".lower()

'shalini'

In [12]:
"SHALINI".replace('I','K')

'SHALKNK'

In [48]:
'Class DS Class'.find('l',7)

10

In [13]:
msg = "________end_________"
msg.strip('_')

'end'

In [14]:
msg = "      end      "
msg.strip(' ')

'end'

In [15]:
msg = ",,,,,end,,,,,"
msg.lstrip(',')

'end,,,,,'

In [16]:
msg = ",,,,,end,,,,,"
msg.rstrip(',')

',,,,,end'

In [59]:
msg = "Cat in a hat"
msg.find('a',8)

10

In [60]:
msg = "Cat in a hat"
msg.rfind('a')

10

In [17]:
msg = "Cat in a hat"
msg.index('a')

1

In [71]:
msg=msg.replace('a','K')

In [72]:
msg

'CKt in K hKt'

In [83]:
msg.replace('K','A',1)

'CAt in K hKt'

## Numbers

In [21]:
# Question 1: What is the result of:

num1 = 10 + 25+3.0
type(num1)

float

In [22]:
# Question 2: What is the result of:

x = abs(-10)
print(x)

10

In [24]:
# Question 3: What is the result of:

x = (5 // 2) * 3
print(x)

6

In [26]:
# Question 4: What is the result of:

x = (25 % 9) * 10
print(x)

70

In [32]:
# Question 5: What is the result of:

x = 150 + 3 ** 3 % (18 % 5)
print(x)

150

In [48]:
# Question 6:What is the result of:

bool("I love Python")

True

In [42]:
bool("")

False

In [43]:
bool(False)

False

In [44]:
bool(0)

False

In [45]:
bool(-9)

True

In [49]:
# Question 7: What is the result of:

bool(0.0)

False

In [51]:
# Question 8:What is the result of:

var=(25 % 5 == 33 % 11) and (10 ** 3 >= 300)
print(var)

True

In [53]:
# Question 9: What is the result of:

var=(25 % 5 == 33 % 10) or (10 ** 3 != 300)
print(var)

True

In [66]:
# Question 10:What is the result of:

not(25 % 5 == 33 % 10) or (10 ** 4 > 3000)

True

## List

In [71]:
var=[3,'Data',8.7,'P']
print(type(var))

<class 'list'>

In [73]:
# Question 11: Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]


# What is the result of len(mylist) * 25 / 5 ?

In [84]:
var=[52,14,87,15,10,158,6]
max(var)

158

In [105]:
var=[52,14,87,15,10,158,6,-52]
var.append(5214)
print(var)

[52, 14, 87, 15, 10, 158, 6, -52, 5214]

In [107]:
var.append(74)
var

[52, 14, 87, 15, 10, 158, 6, -52, 5214, 74, 74]

In [88]:
# Question 12: Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]

# What is the result of max(mylist) ?

In [90]:
# max(mylist)

In [97]:
# Question 13: Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]

mylist[2]

'North America'

In [108]:
# Question 14:Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]


# How would you add a list containing "B", "T" and "C" as an element of mylist?

In [109]:
mylist.append(['B','T','C'])
mylist

['Europe',
 'Asia',
 'North America',
 'South America',
 'Africa',
 'Australia',
 2009,
 2140,
 12.5,
 6.25,
 ['B', 'T', 'C']]

In [116]:
var=[4.2,1,6]
var.append(['B','C','T'])

In [114]:
var.append('C')

In [117]:
var

[4.2, 1, 6, ['B', 'C', 'T']]

In [1]:
var=[5,7,1]
var+var

[5, 7, 1, 5, 7, 1]

In [2]:
var=[5,7,1]
var*3

[5, 7, 1, 5, 7, 1, 5, 7, 1]

In [3]:
a,b,c=var

In [15]:
var1=[8,9,10]
var2=[8,9,10]
# var1

In [16]:
var2==var1

True

In [17]:
var2 is var1

False

In [20]:
var1

[8, 9, 10]

In [21]:
var1.remove(9)

In [22]:
var1

[8, 10]

In [19]:
id(var1)

3028086001280

## Set

In [23]:
var1={26,100}
type(var1)

set

In [24]:
list1=[4,8,9]
set1=set(list1)

In [25]:
set1

{4, 8, 9}

In [29]:
var={4,8,9}
# var[1]
# type(var)

In [34]:
var={4,8,9,7,1,8,1}
var

{1, 4, 7, 8, 9}

In [32]:
var

{4, 8, 9, 15}

In [42]:
# Question 1: Given the list below answer the following question.

list1 = ["Hello", "Hi", "Greetings", "Cheers", "Hi", "hello", "Greetings!"]

# What would be the correct result of set(list1) ?

In [43]:
var=set(list1)
print(var)

TypeError: 'set' object is not callable

TypeError: 'set' object is not callable

In [44]:
# Question 2: Given the code below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}
len(set1)

# What is the length of set1?

7

In [47]:
# Question 3: Given the set below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}
# (11 in set1) and (52/2 in set1)
# What is the result of (11 in set1) and (52/2 in set1) ?

In [48]:
(11 in set1) and (52/2 in set1)

True

In [53]:
# Question 4: Given the set below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}
set1.add(550)

# What is the result of set1.add(550) ?

In [54]:
set1

{11, 26, 92, 200, 338, 550, 2001}

In [50]:
# in operator
x={4,9,8}
62 in x

False

In [52]:
# add opeartor
x={1,3,5}
x.add(2)
x

{1, 2, 3, 5}

In [68]:
# Question 5: Given the set below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}

# How would you remove 550 from set1?

In [67]:
set1.remove(550)
# set1.pop()
# del set1

In [69]:
set1

{11, 26, 92, 200, 338, 550, 2001}

In [70]:
# Question 6: Given the sets below answer the following question.

set1 = {26, 200, 2001, 92, 550}
set2 = {334, 92, 29, 650, 550, 25, 1002}


# Which of the following lines of code results in {200, 2001, 26} ?
# set2.difference(set1)
set1.difference(set2)
# set1.intersect(set2)

{25, 29, 334, 650, 1002}