## Message

In [4]:
print("Sachin Saxena")

Sachin Saxena

In [7]:
print("Data Science")

Data Science

In [8]:
print("Machine Learning")

Machine Learning

## Variables

In [9]:
a=7
b=9
print(a+b)

16

In [10]:
a=7
b=9
print(a-b)

-2

In [11]:
print(id(a))

140728851022824

In [12]:
print(id(b))

140728851022888

In [13]:
print(a)

7

In [14]:
print(b)

9

## String in Python

In [1]:
print("Data Science and Machine Learning")

Data Science and Machine Learning

In [11]:
print("Data Science and \'ML\' Machine Learning")

Data Science and 'ML' Machine Learning

In [13]:
print(''' IMDb.com, Inc. or its affiliates. 
All rights reserved. Box Office Mojo 
and IMDb are trademarks or 
registered trademarks of IMDb.com,
Inc. or its affiliates. 
Conditions of Use and Privacy Policy 
under which this service is provided to you.''')

 IMDb.com, Inc. or its affiliates.
All rights reserved. Box Office Mojo
and IMDb are trademarks or
registered trademarks of IMDb.com,
Inc. or its affiliates.
Conditions of Use and Privacy Policy
under which this service is provided to you.

In [9]:
# New line Raw mode
print("Data Engineer is the \nrole of Python. \nML is the key \nelement of this course")

Data Engineer is the
role of Python.
ML is the key
element of this course

In [10]:
# Double Quote
print("Data Engineer is the role of Python. \"ML\" is the key element of this course")

Data Engineer is the role of Python. "ML" is the key element of this course

In [13]:
# Tab 
print("Data Engineer is the role of \tPython. \t\t\tML is the key \telement of this course")

Data Engineer is the role of 	Python. 			ML is the key 	element of this course

In [25]:
# Single Quote
print("Data Engineer is the role of Python. \'ML\' is the key element of this course")

Data Engineer is the role of Python. 'ML' is the key element of this course

In [18]:
# Backslash
print("Data Engineer is the role of Python. \\ML is the key element of this course")
print("Data Engineer is \\not the role of Python. \ML is \\the key element of this course")

Data Engineer is the role of Python. \ML is the key element of this course
Data Engineer is \not the role of Python. \ML is \the key element of this course

In [19]:
print('True\\the True')

True\the True

## Concatenation in String

In [4]:
# var='Machine Learning'+' '+'Sachin'
var="Machine Learning"+' '+'Sachin'
print(var)

Machine Learning Sachin

In [39]:
var='Data Scientist '*5
print(var)

Data Scientist Data Scientist Data Scientist Data Scientist Data Scientist

In [40]:
First_name='Ajay Sain'
Second_name='Ajay Sain'

In [41]:
print(id(First_name))

2257148790448

In [48]:
print(id(Second_name))
var=7
print(id(var))

2257148790768
140720300737512

In [43]:
print(Second_name)

Ajay Sain

In [47]:
print(Second_name[5])

S

In [49]:
name='Sachin Kumar Saxena'

In [52]:
print(name[13:22])

Saxena

In [59]:
print(name[:16])

Sachin Kumar Sax

In [61]:
print(name)

Sachin Kumar Saxena

In [60]:
print(name[1:10:2])

ahnKm

## Functions in String

In [5]:
atm_pin=int(input("Enter your 4 digit PIN.... "))

Enter your 4 digit PIN....  4715

In [6]:
Amount=int(input("Enter your amount to withdraw.... "))

Enter your amount to withdraw....  85000

In [7]:
Amount

85000

In [8]:
atm_pin

4715

In [9]:
type(atm_pin)

int

In [31]:
Amount+atm_pin

12815

In [32]:
var="Ruchika Punwatkar"
print(var)

Ruchika Punwatkar

In [33]:
len(var)

17

In [34]:
len("Ruchika Punwatkar")

17

In [36]:
var=int(3.9)
var

3

In [37]:
var3=str(8)
var3

'8'

In [38]:
print(f"There are {20*10*6} numbers ")

There are 1200 numbers

In [39]:
"SACHIN".lower()

'sachin'

In [10]:
'sachin'.upper()

'SACHIN'

In [11]:
"SHALINI".lower()

'shalini'

In [12]:
"SHALINI".replace('I','K')

'SHALKNK'

In [48]:
'Class DS Class'.find('l',7)

10

In [13]:
msg = "________end_________"
msg.strip('_')

'end'

In [14]:
msg = "      end      "
msg.strip(' ')

'end'

In [15]:
msg = ",,,,,end,,,,,"
msg.lstrip(',')

'end,,,,,'

In [16]:
msg = ",,,,,end,,,,,"
msg.rstrip(',')

',,,,,end'

In [59]:
msg = "Cat in a hat"
msg.find('a',8)

10

In [60]:
msg = "Cat in a hat"
msg.rfind('a')

10

In [17]:
msg = "Cat in a hat"
msg.index('a')

1

In [71]:
msg=msg.replace('a','K')

In [72]:
msg

'CKt in K hKt'

In [83]:
msg.replace('K','A',1)

'CAt in K hKt'

## Numbers

In [21]:
# Question 1: What is the result of:

num1 = 10 + 25+3.0
type(num1)

float

In [22]:
# Question 2: What is the result of:

x = abs(-10)
print(x)

10

In [24]:
# Question 3: What is the result of:

x = (5 // 2) * 3
print(x)

6

In [26]:
# Question 4: What is the result of:

x = (25 % 9) * 10
print(x)

70

In [32]:
# Question 5: What is the result of:

x = 150 + 3 ** 3 % (18 % 5)
print(x)

150

In [48]:
# Question 6:What is the result of:

bool("I love Python")

True

In [42]:
bool("")

False

In [43]:
bool(False)

False

In [44]:
bool(0)

False

In [45]:
bool(-9)

True

In [49]:
# Question 7: What is the result of:

bool(0.0)

False

In [51]:
# Question 8:What is the result of:

var=(25 % 5 == 33 % 11) and (10 ** 3 >= 300)
print(var)

True

In [53]:
# Question 9: What is the result of:

var=(25 % 5 == 33 % 10) or (10 ** 3 != 300)
print(var)

True

In [66]:
# Question 10:What is the result of:

not(25 % 5 == 33 % 10) or (10 ** 4 > 3000)

True

## List

In [71]:
var=[3,'Data',8.7,'P']
print(type(var))

<class 'list'>

In [73]:
# Question 11: Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]


# What is the result of len(mylist) * 25 / 5 ?

In [84]:
var=[52,14,87,15,10,158,6]
max(var)

158

In [105]:
var=[52,14,87,15,10,158,6,-52]
var.append(5214)
print(var)

[52, 14, 87, 15, 10, 158, 6, -52, 5214]

In [107]:
var.append(74)
var

[52, 14, 87, 15, 10, 158, 6, -52, 5214, 74, 74]

In [88]:
# Question 12: Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]

# What is the result of max(mylist) ?

In [90]:
# max(mylist)

In [97]:
# Question 13: Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]

mylist[2]

'North America'

In [108]:
# Question 14:Given the list below, answer the following question:

mylist = ["Europe", "Asia", "North America", "South America", "Africa", "Australia", 2009, 2140, 12.5, 6.25]


# How would you add a list containing "B", "T" and "C" as an element of mylist?

In [109]:
mylist.append(['B','T','C'])
mylist

['Europe',
 'Asia',
 'North America',
 'South America',
 'Africa',
 'Australia',
 2009,
 2140,
 12.5,
 6.25,
 ['B', 'T', 'C']]

In [116]:
var=[4.2,1,6]
var.append(['B','C','T'])

In [114]:
var.append('C')

In [117]:
var

[4.2, 1, 6, ['B', 'C', 'T']]

In [1]:
var=[5,7,1]
var+var

[5, 7, 1, 5, 7, 1]

In [2]:
var=[5,7,1]
var*3

[5, 7, 1, 5, 7, 1, 5, 7, 1]

In [3]:
a,b,c=var

In [15]:
var1=[8,9,10]
var2=[8,9,10]
# var1

In [16]:
var2==var1

True

In [17]:
var2 is var1

False

In [20]:
var1

[8, 9, 10]

In [21]:
var1.remove(9)

In [22]:
var1

[8, 10]

In [19]:
id(var1)

3028086001280

## Set

In [23]:
var1={26,100}
type(var1)

set

In [24]:
list1=[4,8,9]
set1=set(list1)

In [25]:
set1

{4, 8, 9}

In [29]:
var={4,8,9}
# var[1]
# type(var)

In [34]:
var={4,8,9,7,1,8,1}
var

{1, 4, 7, 8, 9}

In [32]:
var

{4, 8, 9, 15}

In [42]:
# Question 1: Given the list below answer the following question.

list1 = ["Hello", "Hi", "Greetings", "Cheers", "Hi", "hello", "Greetings!"]

# What would be the correct result of set(list1) ?

In [43]:
var=set(list1)
print(var)

TypeError: 'set' object is not callable

TypeError: 'set' object is not callable

In [44]:
# Question 2: Given the code below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}
len(set1)

# What is the length of set1?

7

In [47]:
# Question 3: Given the set below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}
# (11 in set1) and (52/2 in set1)
# What is the result of (11 in set1) and (52/2 in set1) ?

In [48]:
(11 in set1) and (52/2 in set1)

True

In [53]:
# Question 4: Given the set below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}
set1.add(550)

# What is the result of set1.add(550) ?

In [54]:
set1

{11, 26, 92, 200, 338, 550, 2001}

In [50]:
# in operator
x={4,9,8}
62 in x

False

In [52]:
# add opeartor
x={1,3,5}
x.add(2)
x

{1, 2, 3, 5}

In [68]:
# Question 5: Given the set below answer the following question.

set1 = {26, 200, 2001, 92, 550, 2001, 338, 92.0, 11}

# How would you remove 550 from set1?

In [67]:
set1.remove(550)
# set1.pop()
# del set1

In [69]:
set1

{11, 26, 92, 200, 338, 550, 2001}

In [73]:
# Question 6: Given the sets below answer the following question.

set1 = {26, 200, 2001, 92, 550}
set2 = {334, 92, 29, 650, 550, 25, 1002}


# Which of the following lines of code results in {200, 2001, 26} ?
# set2.difference(set1)
set1.difference(set2)
# set1.intersect(set2)

{26, 200, 2001}

## Tuple

In [12]:
var1=(50)
type(var1)

int

In [14]:
# Mutable or non mutable
var1=(8,9,1,3)
var1[2]

1

In [15]:
# Question 1: Given the tuple below answer the following question.

mytuple = (100, 250, 300, 450, 500, "Python", "Java", "C++")

# What is the result of mytuple[0:3] ?

In [16]:
mytuple[0:3]

(100, 250, 300)

In [17]:
# Question 2: Given the tuple below answer the following question.

mytuple = (100, 250, 300, 450, 500, "Python", "Java", "C++")

# What is the result of mytuple[7:] ?

In [18]:
 mytuple[7:]

('C++',)

In [20]:
# Question 3: Given the tuple below answer the following question.

mytuple = (100, 250, 300, 450, 500, "Python", "Java", "C++")

# What is the result of mytuple[-5:-2] ?

In [21]:
mytuple[-5:-2]

(450, 500, 'Python')

In [22]:
mytuple[-2:-5]

()

In [23]:
# Question 4: Given the code below answer the following question.

mytuple = (100, 250, 300, 450, 500)
(a, b, c, d, e) = mytuple

# What is the result of d % 10 ?

In [24]:
d%10

0

In [25]:
d//10

45

In [26]:
d/10

45.0

In [29]:
# Question 5: Given the tuple below answer the following question.

mytuple = (100, 250, 300, 450, 500)

# What is the result of min(mytuple) ?

In [30]:
min(mytuple)

100

In [32]:
# Question 6:Given the tuple below answer the following question.

mytuple = (100, 250, 300, 450, 500, "Python", "Java", "C++")

# What is the result of (mytuple + (410, 430, 450, 205 * 2, 900 // 2, 445)).count(450) ?

In [49]:
mytuple = (100, 250, 300, 450, 500, "Python", "Java", "C++")

In [50]:
mytuple

(100, 250, 300, 450, 500, 'Python', 'Java', 'C++')

In [33]:
(mytuple + (410, 430, 450, 205 * 2, 900 // 2, 445))

(100,
 250,
 300,
 450,
 500,
 'Python',
 'Java',
 'C++',
 410,
 430,
 450,
 410,
 450,
 445)

In [34]:
(mytuple + (410, 430, 450, 205 * 2, 900 // 2, 445)).count(450)

3

In [35]:
# Question 7: Given the tuple below answer the following question.

mytuple = (100, 250, 300, 450, 500, 650, 700, 850, 900)

# What is the result of mytuple[1::3] ?

In [48]:
mytuple = (100, 250, 300, 450, 500, 650, 700, 850, 900)
mytuple[1::3]

(250, 500, 850)

In [47]:
mytuple[1::3]

(250, 500, 850)

In [ ]:
# Question 8:Given the tuple below answer the following question.

mytuple = (100, 250, 300, 250, 500, 650, 700, 250, 900)

How would you find the location (index) of the first occurrence of 250 in mytuple?

In [39]:
# mytuple.find(250)
mytuple.index(250)
# mytuple.count(250)

1

In [52]:
mytuple=(67,8,58,94,90,54,67)
(a,b,c,d,e,f,g) = mytuple

67

## Range

In [41]:
myrange=range(100)
myrange

range(0, 100)

In [43]:
myrange=range(5)
myrange

range(0, 5)

In [57]:
# Question 1: Given the range below answer the following question.

myrange = range(100)

# What is the result of type(myrange) ?

In [58]:
type(myrange)

range

In [59]:
# Question 2: Given the range below answer the following question.

myrange = range(0, 20)

# What is the result of list(myrange) ?

In [60]:
list(myrange)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
# Question 3: Given the range below answer the following question.

myrange = range(5, 15)

# What is the result of tuple(myrange) ?

In [62]:
tuple(myrange)

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [63]:
# Question 4: Given the range below answer the following question.

myrange = range(11)[::2]

# What is the result of list(myrange) ?

In [67]:
myrange = range(11)
myrange

range(0, 11)

In [64]:
list(myrange)

[0, 2, 4, 6, 8, 10]

In [68]:
# Question 5: Given the range below answer the following question.

myrange = range(3, 15, 2)

# What is the result of list(myrange) ?

In [70]:
list(myrange)

[3, 5, 7, 9, 11, 13]

In [71]:
# Question 6: Given the range below answer the following question.

myrange = range(10, 19, 3)

# What is the result of list(myrange)[2] ?

In [72]:
list(myrange)[2]

16

In [74]:
# Question 7: Given the range below answer the following question.

myrange = range(10, 16, 2)[::2]

# What is the result of list(myrange) ?

In [75]:
list(myrange)

[10, 14]

In [76]:
# Question 8: Given the range below answer the following question.

myrange = range(5, 15, 4)[::-1]

# What is the result of list(myrange) ?

In [77]:
myrange

range(13, 1, -4)

In [78]:
list(myrange)

[13, 9, 5]

## Concatenation in String

In [2]:
string="Machine Learning"+" "+"is producing more jobs !!!!"
string

'Machine Learning is producing more jobs !!!!'

In [3]:
string="Machine Learning"+" "+"is producing more jobs !!!! "
string*3

'Machine Learning is producing more jobs !!!! Machine Learning is producing more jobs !!!! Machine Learning is producing more jobs !!!! '

## Dictionary

In [4]:
report_card={'Name':'Payal', 'Subject_Name':'Data Science','Marks':58}

In [5]:
report_card

{'Name': 'Payal', 'Subject_Name': 'Data Science', 'Marks': 58}

In [6]:
report_card={'Name':'Payal', 'Subject_Name':'Data Science','Marks':58,'Name':'Shalini'}
report_card

{'Name': 'Shalini', 'Subject_Name': 'Data Science', 'Marks': 58}

In [7]:
report_card={'Name':['Payal','Sonali','Mohit'], 'Subject_Name':['Data Science','Math','English'],'Marks':[58,86,91]}
report_card

{'Name': ['Payal', 'Sonali', 'Mohit'],
 'Subject_Name': ['Data Science', 'Math', 'English'],
 'Marks': [58, 86, 91]}

In [8]:
report_card

{'Name': ['Payal', 'Sonali', 'Mohit'],
 'Subject_Name': ['Data Science', 'Math', 'English'],
 'Marks': [58, 86, 91]}

In [10]:
report_card.keys()

dict_keys(['Name', 'Subject_Name', 'Marks'])

In [11]:
report_card.values()

dict_values([['Payal', 'Sonali', 'Mohit'], ['Data Science', 'Math', 'English'], [58, 86, 91]])

In [12]:
report_card.items()

dict_items([('Name', ['Payal', 'Sonali', 'Mohit']), ('Subject_Name', ['Data Science', 'Math', 'English']), ('Marks', [58, 86, 91])])

In [13]:
# Question 1:Considering the dictionary below (showing the population of some of the
# Eastern European countries) answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M", "Poland": "38.1M", 
                "Romania": "19.5M", "Bulgaria": "6.9M", "Hungary": "9.6M", "Moldova": "4.1M"}



# Which is the correct way of returning the population of Moldova (as a string)?

In [14]:
ee_countries['Moldova']

{'Ukraine': '43.7M',
 'Russia': '143.8M',
 'Poland': '38.1M',
 'Romania': '19.5M',
 'Bulgaria': '6.9M',
 'Hungary': '9.6M',
 'Moldova': '4.1M'}

In [15]:
ee_countries['Moldova']

'4.1M'

In [16]:
# Question 2:Considering the dictionary below (showing the 
# population of some of the Eastern European countries) answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M",
                "Poland": "38.1M", "Romania": "19.5M", "Bulgaria": "6.9M",
                "Hungary": "9.6M", "Moldova": "4.1M"}

# Which is the correct way of updating the population value for Bulgaria?

In [17]:
ee_countries["Bulgaria"]='45M'

In [18]:
ee_countries

{'Ukraine': '43.7M',
 'Russia': '143.8M',
 'Poland': '38.1M',
 'Romania': '19.5M',
 'Bulgaria': '7M',
 'Hungary': '9.6M',
 'Moldova': '4.1M'}

In [19]:
# Question 3:
# Considering the dictionary below (showing the population of some of the Eastern European countries) 
# answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M", "Poland": "38.1M", 
                "Romania": "19.5M", "Bulgaria": "6.9M", "Hungary": "9.6M",
                "Moldova": "4.1M", "Estonia": "1.3M"}



# Which is the correct way of deleting Estonia from the dictionary?

In [20]:
del ee_countries['Estonia']

In [21]:
ee_countries

{'Ukraine': '43.7M',
 'Russia': '143.8M',
 'Poland': '38.1M',
 'Romania': '19.5M',
 'Bulgaria': '6.9M',
 'Hungary': '9.6M',
 'Moldova': '4.1M'}

In [22]:
# Question 4:Considering the dictionary below 
# (showing the population of some of the Eastern European countries) answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M", 
                "Poland": "38.1M", "Romania": "19.5M", 
                "Bulgaria": "6.9M", "Hungary": "9.6M", 
                "Moldova": "4.1M", "Estonia": "1.3M"}



# What is the result of max(ee_countries.keys()) ?

In [25]:
(ee_countries.keys())

dict_keys(['Ukraine', 'Russia', 'Poland', 'Romania', 'Bulgaria', 'Hungary', 'Moldova', 'Estonia'])

In [26]:
# Question 5:Considering the dictionary below 
# (showing the population of some of the Eastern European countries) 
# answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M", 
                "Poland": "38.1M", "Romania": "19.5M", 
                "Bulgaria": "6.9M", "Hungary": "9.6M", "Moldova": "4.1M", 
                "Estonia": "1.3M"}



# What is the result of len(ee_countries.items()) % 3 ?

In [27]:
ee_countries.items()

dict_items([('Ukraine', '43.7M'), ('Russia', '143.8M'), ('Poland', '38.1M'), ('Romania', '19.5M'), ('Bulgaria', '6.9M'), ('Hungary', '9.6M'), ('Moldova', '4.1M'), ('Estonia', '1.3M')])

In [29]:
len(ee_countries.items()) % 3

2

In [30]:
# Question 6:Considering the dictionary below 
# (showing the population of some of the Eastern European countries) 
# answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M",
                "Poland": "38.1M", "Romania": "19.5M", 
                "Bulgaria": "6.9M", "Hungary": "9.6M",
                "Moldova": "4.1M", "Estonia": "1.3M"}



# What is the correct way of removing all the
# key-value pairs from the dictionary (result should be an empty dictionary) ?

In [31]:
ee_countries

{'Ukraine': '43.7M',
 'Russia': '143.8M',
 'Poland': '38.1M',
 'Romania': '19.5M',
 'Bulgaria': '6.9M',
 'Hungary': '9.6M',
 'Moldova': '4.1M',
 'Estonia': '1.3M'}

In [32]:
ee_countries.clear()

In [33]:
ee_countries

{}

In [34]:
# Question 7:
# Considering the dictionary below 
# (showing the population of some of the Eastern European countries) 
# answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M", 
                "Poland": "38.1M", "Romania": "19.5M", 
                "Bulgaria": "6.9M", "Hungary": "9.6M", 
                "Moldova": "4.1M", "Estonia": "1.3M"}



# How can you add multiple key-value pairs to the dictionary,
# at the same time (using a single line of code) ?

# Example: 'Latvia': '1.9M', 'Lithuania': '2.8M', 'Belarus': '9.4M'

In [36]:
ee_countries.update([['Latvia', '1.9M'],['Lithuania', '2.8M'],['Belarus','9.4M']])

In [37]:
ee_countries

{'Ukraine': '43.7M',
 'Russia': '143.8M',
 'Poland': '38.1M',
 'Romania': '19.5M',
 'Bulgaria': '6.9M',
 'Hungary': '9.6M',
 'Moldova': '4.1M',
 'Estonia': '1.3M',
 'Latvia': '1.9M',
 'Lithuania': '2.8M',
 'Belarus': '9.4M'}

In [38]:
# Question 8:Considering the dictionary below 
# (showing the population of some of the Eastern European countries) 
# answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M",
                "Poland": "38.1M", "Romania": "19.5M", 
                "Bulgaria": "6.9M", "Hungary": "9.6M", 
                "Moldova": "4.1M", "Estonia": "1.3M"}



# What is the result of min(ee_countries.items()) ?

In [39]:
min(ee_countries.items())

('Bulgaria', '6.9M')

In [41]:
# Question 9:Considering the dictionary below 
# (showing the population of some of the Eastern European countries) 
# answer the following question.

ee_countries = {"Ukraine": "43.7M", "Russia": "143.8M",
                "Poland": "38.1M", "Romania": "19.5M", 
                "Bulgaria": "6.9M", "Hungary": "9.6M", 
                "Moldova": "4.1M", "Estonia": "1.3M"}



# What is the result of sorted(ee_countries.values())[-2] ?

In [43]:
sorted(ee_countries.values())

['1.3M', '143.8M', '19.5M', '38.1M', '4.1M', '43.7M', '6.9M', '9.6M']

## Conversion Between Data Types

In [ ]:
Question 1:
What is the result of the code below?

>>> value = "25"
>>> float(value)

In [45]:
value="25"
# type(value)
float(value)

25.0

In [46]:
value="25"
# type(value)
int(value)

25

In [ ]:
Question 2:
What is the result of the code below?

>>> value = 10
>>> bin(value)

In [49]:
value=15
bin(value)

'0b1111'

In [ ]:
Question 3:What is the result of the code below?

>>> mylist = ['1.3M', '143.8M', '19.5M', '38.1M', '4.1M', '43.7M', '6.9M', '9.6M']
>>> str(mylist)

In [50]:
mylist = ['1.3M', '143.8M', '19.5M', '38.1M', '4.1M', '43.7M', '6.9M', '9.6M']
str(mylist)

"['1.3M', '143.8M', '19.5M', '38.1M', '4.1M', '43.7M', '6.9M', '9.6M']"

In [ ]:
Question 4:
What is the result of the code below?

>>> int('a', 16)

In [55]:
int('f', 16)

15

In [62]:
int('1001', 2)

9

In [63]:
Question 5: What is the result of the code below?

>>> int('0011', 2)

SyntaxError: invalid syntax (2232183679.py, line 3)

In [64]:
int('0011', 2)

3

## if elif else Condition

In [12]:
salary=int(input("Enter your salary.... "))
print("Okay !!! your salary is ",salary)

Enter your salary....  45000

Okay !!! your salary is  45000

In [6]:
salary+12500

21000

In [ ]:
    0<salary<25000 ---->>> Junior Engineer
25000<salary<50000 ---->>> Mid Level Engineer
50000<salary<100000 ---->>> Senior Engineer
100000<salary<200000 ---->>> CEO

In [8]:
salary

8500

In [16]:
salary=int(input("Enter your salary.... "))
print("Okay !!! your salary is ",salary)

if salary<=25000:
    print("Employee is Junior Engineer")
elif salary>25000 and salary<=55000:
    print("Employee is Mid Level Engineer")
elif salary>55000 and salary<=100000:
    print("Employee is Senior Level Engineer")
elif salary>100000 and salary<=200000:
    print("Employee is CEO")

Enter your salary....  15000

Okay !!! your salary is  15000
Employee is Junior Engineer

In [25]:
# Game of Mario
quit=input("do you want to quit?  Enter your choice....")

if quit== 'yes' or quit=='Yes':
    print("Thanks for playing this Game!!!!")
elif quit=='no' or quit=='No':
    print("Welcome again in the Game!!!")
else:
    print("Enter your correct choice Yes/No")

do you want to quit?  Enter your choice.... ythvhj

Enter your correct choice Yes/No

In [ ]:
if quit== 'yes' ---->> "Thanks for playing this Game!!!!"
"Enter your correct choice Yes/No"

In [31]:
Question 1: What is the result of the code below?

mystring = "Solving Python quizzes is awesome. Can I have more, please?"
 
if mystring.endswith("?") and len(mystring) != 60:
    print("Great job!")

Object `below` not found.
Great job!

In [40]:
# Question 2:What is the result of the code below?

mystring = "Solving Python quizzes is awesome. Can I have more, please?"
 
if " " not in mystring and mystring.find("zz") <= 25:
    print("Great job!")

Great job!

In [47]:
mystring = "Solving Python quizzes is awesome. Can I have more, please?"

(mystring.count(",") )

''

In [44]:
# Question 3:What is the result of the code below?

mystring = "Solving Python quizzes is awesome. Can I have more, please?"
 
if mystring[5:8].endswith(" ") or (mystring.count(",") > mystring.index("o")):
    print("Great job!")
else:
    print("Great job again!")

Great job!

In [45]:
# Question 4: What is the result of the code below?

mystring = "Solving Python quizzes is awesome. Can I have more, please?"
 
if mystring[5:8].startswith("i") and (mystring[::2][2] == "i"):
    print("Great job!")
elif "a" in mystring[-7:-4] or mystring[-2:] == "e?":
    print("Great job once again!")
else:
    print("Great job again!")

Great job once again!

In [48]:
# Question 5:What is the result of the code below?

mynum = 2500
 
if mynum % 25 == 0 and mynum // 25 == 10 ** 2:
    print("Awesome!")

Awesome!

In [52]:
10**2

100

In [54]:
# Question 6: What is the result of the code below?

mynum = 2500
 
if (100 - 5 ** 2 * 2 ** 2):
    print("Awesome!")
elif mynum / (100 - 5 ** 2 / 5 * 2 + 10) < 29:
    print("Amazing!")

Amazing!

## For and While Loops

#### For Loop

In [3]:
print("1 Machine Learning")
print("2 Machine Learning")
print("3 Machine Learning")
print("4 Machine Learning")
print("5 Machine Learning")

1 Machine Learning
2 Machine Learning
3 Machine Learning
4 Machine Learning
5 Machine Learning

In [7]:
for i in range(25):
    print(i+1," Machine Learning")

1  Machine Learning
2  Machine Learning
3  Machine Learning
4  Machine Learning
5  Machine Learning
6  Machine Learning
7  Machine Learning
8  Machine Learning
9  Machine Learning
10  Machine Learning
11  Machine Learning
12  Machine Learning
13  Machine Learning
14  Machine Learning
15  Machine Learning
16  Machine Learning
17  Machine Learning
18  Machine Learning
19  Machine Learning
20  Machine Learning
21  Machine Learning
22  Machine Learning
23  Machine Learning
24  Machine Learning
25  Machine Learning

In [9]:
for i in range(5,25):
    print(i," Machine Learning")

5  Machine Learning
6  Machine Learning
7  Machine Learning
8  Machine Learning
9  Machine Learning
10  Machine Learning
11  Machine Learning
12  Machine Learning
13  Machine Learning
14  Machine Learning
15  Machine Learning
16  Machine Learning
17  Machine Learning
18  Machine Learning
19  Machine Learning
20  Machine Learning
21  Machine Learning
22  Machine Learning
23  Machine Learning
24  Machine Learning

In [10]:
list1=[5,9,'Sachin',58.6,'P']
for i in list1:
    print(i)

5
9
Sachin
58.6
P

In [11]:
string='Sachin is learning Data Science course'
for i in string:
    print(i)

S
a
c
h
i
n

i
s

l
e
a
r
n
i
n
g

D
a
t
a

S
c
i
e
n
c
e

c
o
u
r
s
e

In [14]:
i=0
while i<5:
    print(i, " Amarjeet")
    i=i+2

0  Amarjeet
2  Amarjeet
4  Amarjeet

In [16]:
# Question 1: What is the result of the code below?

mylist = [10, 50, 78.13, 99.9, 2020, 35000, "Python", "Java", "SQL", "C++"]
 
for element in mylist:
    print(mylist[0])

10
10
10
10
10
10
10
10
10
10

In [20]:
# Question 2: What is the result of the code below?

mylist = [ "Python", "Java", "SQL", "C++"]
 
for element in mylist:
    print("This is an element of mylist: " + element)

This is an element of mylist: Python
This is an element of mylist: Java
This is an element of mylist: SQL
This is an element of mylist: C++

In [26]:
# Question 3: What is the result of the code below?

mylist = [10, 50, 78.13, 99.9, 2020, 35000, "Python", "Java", "SQL", "C++"]
 
for i in range(len(mylist)):
    print(i * 10)

0
10
20
30
40
50
60
70
80
90

In [25]:
for i in range(10):
    print(i," Shiv")

6  Shiv
7  Shiv
8  Shiv
9  Shiv

In [32]:
# Question 4: What is the result of the code below?

mylist = [10, 50, 78.13, 99.9, 2020, 35000, "Python", "Java", "SQL", "C++"]
 
for i in mylist:
    print(mylist[0])

10
10
10
10
10
10
10
10
10
10

In [35]:
# Question 5: What is the result of the code below?

mylist = [10, 50, 78.13, 99.9, 2020, 35000, "Python", "Java", "SQL", "C++"]
 
for i in mylist:
    for j in range(2):
        if isinstance(i, float):
            print(int(i) * j)

0
78
0
99

In [33]:
for i in range(5):
    for j in range(3):
        print(i,j," Jay")

0 0  Jay
0 1  Jay
0 2  Jay
1 0  Jay
1 1  Jay
1 2  Jay
2 0  Jay
2 1  Jay
2 2  Jay
3 0  Jay
3 1  Jay
3 2  Jay
4 0  Jay
4 1  Jay
4 2  Jay

In [46]:
# Question 6: What is the result of the code below?

for i, e in enumerate(range(5, 10)):
    print(i, e )

0 5
1 6
2 7
3 8
4 9

In [44]:
for i, e in enumerate(range(1, 10)):
    print(i, e)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [ ]:
Question 7: Are the two blocks of code below equivalent? True or false?
---------------------------------------

i = 100
j = 200
 
if i < j:
    if i < 100:
        print(i)
    else:
        print(j)
---------------------------------------
and:

i = 100
j = 200
 
if i < j or i < 100:
    print(i)
else:
    print(j)

In [47]:

i = 100
j = 200
 
if i < j:
    if i < 100:
        print(i)
    else:
        print(j)

200

In [48]:
i = 100
j = 200
 
if i < j or i < 100:
    print(i)
else:
    print(j)

100

In [51]:
# Question 8: What is the result of the code below?

# x = 1
 
# while x <= 10:
#     print(x + 1)

In [52]:
# Question 9: What is the result of the code below?

x = 1
 
while x <= 10:
    print(x)
    x += 2
else:
    print("Python is the best!")

1
3
5
7
9
Python is the best!