# Print any statement

In [1]:
print("Delhi")

Delhi

# Variable

In [3]:
# string datatype: Address, Name, Section, Place
name='Vipin'
name

'Vipin'

In [4]:
type(name)

str

In [5]:
# integer data type: Age, Mobile number, PinCode, No of people, Yes/No
age=18
age

18

In [6]:
type(age)

int

In [7]:
# float data type: Salary, Time, Weight, Percetage, Height, Distance, Temprature
salary=75.81
salary

75.81

In [8]:
type(salary)

float

In [13]:
#Boolean datatype: only True or Flase: Fan Off/On, Bulb: Off/On, 
# electric circuit: Off/On, Signal Light, Consumer Status: Buy/not Buy
on=True
off=False

In [14]:
on

True

# String

In [15]:
# Exercise 1 - Strings
# Given the code below, 
# insert the correct negative index on line 2 in order to 
# get the last character in the string.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas"

print(my_string[0])

I

In [30]:
# my_string = "In 2010, someone paid 10k Bitcoin for two pizzas"
my_string = 45.8
# print(my_string[-6])

In [31]:
type(my_string)

float

In [23]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[7])

,

In [21]:
print(len(my_string))

49

In [32]:
# Exercise 2 - Strings
# Given the code below, 
# insert the correct negative index on line 2
# in order to return the w character from the string.

my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-10])

w

# List

In [33]:
tiffin=['Milk','Bread','Chapati',2,'Apples',4.8]
tiffin

['Milk', 'Bread', 'Chapati', 2, 'Apples', 4.8]

In [34]:
tiffin[0]

'Milk'

In [35]:
tiffin[1]

'Bread'

In [36]:
tiffin[-1]

4.8

In [37]:
# Exercise 3 - Lists
# Given the code below, 
# use the correct method on line 3 in order to add the element 
# 'C++' at the end of my_list.


my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

my_list.append('C++')

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 'C++']

In [38]:
my_list.append('R Language')

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 'C++', 'R Language']

In [39]:
my_list.append(25)

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 'C++', 'R Language', 25]

In [42]:
# Exercise 4 - Lists
# Given the code below, use the correct 
# method on line 3 in order to remove the element 30 from my_list.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

my_list.remove(30)

print(my_list)

[10, 10.5, 20, 'Python', 'Java', 'Ruby']

In [44]:
# Exercise 5  - Lists
# Given the code below, use the correct 
# method on line 3 in order to return the index of the element 10.5 in my_list.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

index = my_list.index('Python')

print(index)

4

In [46]:
# Exercise 6 - Lists
# Given the code below, 
# use the correct method on line 3 in order 
# to insert the element 77 at index 4 in my_list.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

my_list.insert(4,77)

print(my_list)

[10, 10.5, 20, 30, 77, 'Python', 'Java', 'Ruby']

In [58]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

my_list.insert(6,7)

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 7, 'Ruby']

In [55]:
# Exercise 7  - Lists
# Given the code below, use the correct method on line 3 
# in order to concatenate my_list with [100, 101, 102], 
# by adding the latter at the end of my_list.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

my_list.extend([99,98,97])

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 99, 98, 97]

In [1]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.insert(5, [100, 101, 102])
print(my_list)

[10, 10.5, 20, 30, 'Python', [100, 101, 102], 'Java', 'Ruby']

In [53]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
sarthak=[100, 101, 102]


my_list=my_list+sarthak

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 100, 101, 102]

In [ ]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

my_list.append([100, 101, 102])

print(my_list)

In [52]:
# sub list
my_list[7]

[100, 101, 102]

# Dataset

In [3]:
# integer
int_var=7
print(int_var)
print(type(int_var))

# OOPS languge---> Class or Object

7
<class 'int'>

In [4]:
# float
float_var=8.5
print(float_var)
print(type(float_var))

8.5
<class 'float'>

In [5]:
# Character or String
char_var='T'
print(char_var)
print(type(char_var))

T
<class 'str'>

In [6]:
# List
list_var=[8,1,'P','Address']
print(list_var)
print(type(list_var))

[8, 1, 'P', 'Address']
<class 'list'>

In [9]:
list_var[2]

'P'

In [10]:
# Exercise 8  - Lists
# Given the code below, use the correct method on line 3 
# in order to add my_list with [100, 101, 102], 
# by adding the latter at the index 4 of my_list.

my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

my_list.extend([100,101,102])

print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 99, 98, 97]

In [17]:
my_list

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 99, 98, 97]

In [42]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

elements = [100, 101, 102]
elements=elements[::-1]
for i in elements:
    my_list.insert(0, i)

print(my_list)
# [10, 10.5, 20, 30, 'Python', 102, 101, 100, 'Java', 'Ruby']

[100, 101, 102, 10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

In [41]:
# List Slicing
elements = ['Kanayeya','Sarthak','Ritesh','Kapil','ML','DS',100, 101, 102]
elements=elements[::-1]
elements

[102, 101, 100, 'DS', 'ML', 'Kapil', 'Ritesh', 'Sarthak', 'Kanayeya']

In [29]:
elements = [100, 101, 102]
elements=elements[::-1]
elements

[102, 101, 100]

In [26]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
# my_list.append('Sachin')
my_list.insert(5,'Sachin')
print(my_list)

[10, 10.5, 20, 30, 'Python', 'Sachin', 'Java', 'Ruby']

In [15]:
# loop in Python
for i in range(20):
    print(i+1, "Data Science")

1 Data Science
2 Data Science
3 Data Science
4 Data Science
5 Data Science
6 Data Science
7 Data Science
8 Data Science
9 Data Science
10 Data Science
11 Data Science
12 Data Science
13 Data Science
14 Data Science
15 Data Science
16 Data Science
17 Data Science
18 Data Science
19 Data Science
20 Data Science

In [45]:
# Exercise 8  - Lists
# Given the code below, use the correct function on line 3
# in order to sort the elements of my_list in ascending order.

my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]

asc = sorted(my_list, reverse=True)

print(asc)

[30, 29.99, 25.6, 20, 19.25, 11.01, 10.5, 10]