## Range in Python

In [7]:
# print "Data Science" 10 times
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")
print("Data Science")

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science

In [33]:
for i in range(10):
#     range(start_vlaue, last_value-1,skip_numbers-1)
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [10]:
r=range(1,10)
print(r)

range(1, 10)

In [25]:
# Exercise 1 - Ranges
# Given the code below, use the correct argument(s) 
# for the range() function on line 1 in order to 
# return a range of consecutive integers from 0 to 9 inclusively. 
# Use a single argument inside the parentheses of range()!

my_range = range(10)

print(list(my_range)) #[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# Exercise 2 - Ranges
# Given the code below, use the correct argument(s) 
# for the range() function on line 1 in order to return a
# range of consecutive integers from 0 to 9 inclusively. 
# Use two arguments inside the parentheses of range()!

my_range = range(0,11)

print(list(my_range)) #[0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# Exercise 3  - Ranges
# Given the code below, use the correct argument(s) 
# for the range() function on line 1 in order to return 
# a range of consecutive integers from 117 to 129 exclusively.

my_range = range(117,129)

print(list(my_range)) #[117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128]

[117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128]

In [40]:
# Exercise 4 - Ranges
# Given the code below, use the correct argument(s) 
# for the range() function on line 1 in order to 
# return [10, 13, 16, 19] when converted to a list.


my_range = range(10,20,3)

print(list(my_range)) #[10, 13, 16, 19]

[10, 13, 16, 19]

In [46]:
# Exercise 5 - Ranges
# Given the code below, add the correct step
# as the third argument of the range() function on 
# line 1 in order to return [115, 120] when converted to a list.


my_range = range(115, 125,5 )

print(list(my_range)) #[115, 120]

[115, 120]

In [49]:
# Exercise 6  - Ranges
# Given the code below, add the correct step as the 
# third argument of the range() function on line 1 
# in order to return [-75, -60, -45, -30] when converted to a list.

my_range = range(-75, -25,15 )

print(list(my_range)) #[-75, -60, -45, -30]

[-75, -60, -45, -30]

In [52]:
# Exercise 7 - Ranges
# Given the code below, add the correct step as the
# third argument of the range() function on line 1
# in order to return [-25, 5, 35, 65, 95, 125] when converted to a list.

my_range = range(-25, 139,30)

print(list(my_range)) #[-25, 5, 35, 65, 95, 125]

[-25, 5, 35, 65, 95, 125]

In [60]:
# Exercise 8 - Ranges
# Given the code below, write the correct range on 
# line 1 in order to return [-10] when converted to a list.



my_range = range(-10,-9)

print(list(my_range)) #[-10]

[-10]

In [57]:

my_range = range(9,10)

print(list(my_range))

[9]

# Data Type

In [68]:
# var=15
# var=9.3
# var='Ranjeet'
# var=True
# var=[2,'Sachin',7.8]
# var=(2,'Sachin',7.8)
# var={2,'Sachin',7.8}
# var={'roll_no':2,'name':'Sachin','weight':7.8}

# ctr +'/'

type(var)

dict

### Question 1

In [69]:
# Exercise 1 - Data Type Conversions
# Given the code below, use the correct function on
# line 3 in order to convert value to a string.


value = 10

conv = str(value)

print(type(conv))

<class 'str'>

In [70]:
# Exercise 2 - Data Type Conversions
# Given the code below, use the correct function on 
# line 3 in order to convert value to an integer.


value = "10"

conv = int(value)

print(type(conv))

<class 'int'>

In [71]:
# Exercise 3 - Data Type Conversions
# Given the code below, use the correct 
# function on line 3 in order to convert value 
# to a floating-point number.


value = 10

conv = float(value)

print(type(conv))

<class 'float'>

In [73]:
# Exercise 4 - Data Type Conversions
# Given the code below, use the correct function on 
# line 3 in order to convert value to a list.



value = "Hello!"

conv = list(value)

print(type(conv))

<class 'list'>

In [75]:
# Exercise 5 - Data Type Conversions
# Given the code below, use the correct function on
# line 3 in order to convert value to a tuple.

value = [1, 2, 3, 10, 20, 30]

conv = tuple(value)

print(type(conv))

<class 'tuple'>

In [76]:
# Exercise 6 - Data Type Conversions
# Given the code below, use the correct function on 
# line 3 in order to convert value to a frozen set.


value = (10, 20, 40, 10, 25, 30, 45)

conv = frozenset(value)

print(type(conv))

<class 'frozenset'>

In [80]:
# Exercise 7 - Data Type Conversions
# Given the code below, use the correct function on 
# line 3 in order to convert value to a binary representation.


value = 13

conv = bin(value)

print(conv)

0b1101

In [101]:
value = 43

conv = bin(value)

print(conv)

# 1*(2^2)+0*(2^1)+1*(2^0)=4+0+1=5

# 0 --> 0 volt or False
# 1 --> +5 volt or True

0b101011

In [91]:
# Exercise 9 - Data Type Conversions
# Given the code below, use the correct function on 
# line 3 in order to convert value from binary to decimal notation.

value = '0b1010'

conv = int(value,2)

print(conv)

10

In [98]:
# Exercise 10 - Data Type Conversions
# Given the code below, use the correct function on line 
# 3 in order to convert value from hexadecimal to decimal notation.


value = '0x1f'

conv = int(value,16)

print(conv)

31